---
import BaseHead from "../components/BaseHead.astro";
import I18nNavbar from "../components/I18nNavbar.astro";
import I18nFooter from "../components/I18nFooter.astro";
import { getLocale } from "../i18n/index";

interface Props {
  title?: string;
  description?: string;
}

const { title = "PacketAlchemy", description } = Astro.props;
const lang = 'en' as const;
const t = getLocale(lang);
---

<!DOCTYPE html>
<html lang="en">

<head>
  <BaseHead title={title} description={description} />
</head>

<body class="bg-[#0b0f17] text-white min-h-screen">

  <I18nNavbar t={t} lang={lang} />

  <main>
    <slot />
  </main>

  <I18nFooter t={t} lang={lang} />

</body>
</html>
